
<div class="body-maininfo">
    <div class="infolinks">
      <section class="subheader-main">
        <!-- <div class = "sub-header-box">
            <a [routerLink]="['info']">
          <h3 class="sub-header">what is frontend </h3></a>
        </div> -->
        <div class="sub-header-box">
            <a [routerLink]="['whatisFrontend']">
              <h3 class="sub-header">What is frontend</h3>
            </a>
          </div>
        <div class = "sub-header-box"><a [routerLink]="['whyAngular']">
            <h3 class="sub-header">Why Angular</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Angular</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Component</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Directive</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">String Interpolation</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Binding</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Property Binding</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Event Binding</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Two Way Data Binding</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">ComponentCommunicate</h3>
        </a>
        </div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Input Decorator</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Output Decorator</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">view Child</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">view Children</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Services</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Observables</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Routing</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Route Parameters</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Query Paramaters</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Child Routing</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Http Services</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Route Gards</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">ng Content</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">ng Container</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Route Parameters</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Forms</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Template Driven Forms</h3>
          </a></div>
        <div class = "sub-header-box"><a [routerLink]="['#']">
            <h3 class="sub-header">Reactive Forms</h3>
          </a></div>


      </section>
    </div>
    <div class="infolinksbody">
      <router-outlet></router-outlet>
    </div>
  </div>

