a{
    text-decoration: none;
  }


.main-title{
     width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
    height: 64px;
    z-index: 100;

}

.heading{
    text-decoration: none;
    color : white;
}